%h1 Homes for Sale

%table
  %tr
    %th Address
    %th City
    %th Zip Code
    %th Price
    %th Status
    %th Type
    %th MLS Number
    %th Description
    %th Realtor
    %th 
    %th 
    %th 

  - @listings.each do |listing| 
    %tr
      %td= listing.address 
      %td= listing.city 
      %td= listing.zip_code 
      %td= listing.price 
      %td= listing.status 
      %td= listing.mls_number 
      %td= listing.description 
      %td= listing.realtor 

%br

