%h1 Homes for Sale

- @listings.each do |listing|
  - @realtor = Realtor.find_by_id(listing.realtor_id)
  .left
    .left
      %b
        = listing.address + ', ' + listing.city
        %br
        = number_to_currency(listing.price, :precision => 0)
      %br
        MLS:
        = listing.mls_number 
      = listing.description 
    Contact: 
    = @realtor.full_name + ' - ' 
    = @realtor.cell_number.length > 2 ? @realtor.cell_number : moniker(:office_number) + ' ext: ' + @realtor.extension.to_s
