!!! strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %title
      #{@page_title ? "#{@page_title} | " : nil}
      Century 21 Alpha Pacific
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = image_tag "realtorslogo.jpg"
      .nav
        = image_tag "realtors.gif"
        = image_tag "listings.gif"
        = image_tag "about.gif"
        = image_tag "contact.gif"
        = image_tag "realtorsbottom.jpg"
      .clear
      / %p.notice= notice
      / %p.alert= alert
      #content= yield