!!! strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %title
      #{@page_title ? "#{@page_title} | " : nil}
      Century 21 Alpha Pacific
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      = link_to image_tag("realtorslogo.jpg", :border => 0), "http://www.century21ap.com"
      .nav
        = link_to image_tag("realtors.gif", :border => 0), "http://www.century21ap.com/realtors.html"
        = link_to image_tag("listings.gif", :border => 0), "/"
        = link_to image_tag("about.gif", :border => 0), "http://www.century21ap.com/about.html"
        = link_to image_tag("contact.gif", :border => 0), "http://www.century21ap.com/contact.html"
        = link_to image_tag("realtorsbottom.jpg", :border => 0), "http://www.century21ap.com/spanish.html"
      .clear
      / %p.notice= notice
      / %p.alert= alert
      #content= yield